/*style for login*/
.login-wrap{
    position: fixed;
    top:0;
    right:0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-100px;
}
.login-wrap_header {
    display: flex;
    align-items: center;
}
.input {
    border:1px solid #ccc;
    padding:7px 5px;
    max-width: 100%;
    width:250px;
    margin:5px;
    border-radius: 4px;
}

.login-wrap_btn{
    text-align: right;
}
.login-wrap_btn button{
    background-color: blue;
    color:#fff;
    border:1px solid #ccc;
    padding:5px 10px;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}

.login-wrap_btn button:hover {
    opacity: 0.7;
}

